.user_image_outer_container {
  flex: 3;
  //   background-color: yellow;
  .user_image_inner_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 650px) {
      align-items: flex-start;
    }
  }
  .user_image {
    position: relative;
    img {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      cursor: pointer;
      @media (max-width: 650px) {
        width: 90px;
        height: 90px;
      }
    }
  }

  .change_pic_btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    button {
      border: 1px solid #c6c6c6;
      text-align: center;
      padding: 5px 10px;
      color: floralwhite;
      background: none;
    }
  }
}

.user_image_loader_container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  background: rgba($color: #c6c6c6, $alpha: 0.3);
  filter: brightness(1.8);
  border-radius: 50%;
  @media (max-width: 650px) {
    width: 90px;
    height: 90px;
    .ecPYAj {
      transform: scale(0.7);
    }
  }
}
