.notifications_container {
  position: relative;

  .notification_link {
    span {
      position: relative;
    }

    .notification_count_container {
      position: absolute;
      top: -15px;
      right: 2px;
      background-color: red;
      border-radius: 50%;
      padding: 1px 3px 1px 3px;
      font-size: 10px;
      color: white;
    }
  }

  .notifications_list_container {
    h2 {
      font-weight: 700;
      margin-left: 1.3rem;
    }

    width: 350px;
    max-height: 70vh;
    overflow: auto;
    border-radius: 10px;
    position: absolute;
    top: 118%;
    left: -100%;
    z-index: 800;
    background-color: #242526;
    box-shadow: 1px 1px 7px black;
    padding: 12px 1rem;
    color: white;

    @media (max-width: 450px) {
      right: 200%;
      left: -320%;
      width: 300px;
    }

    @media (min-width: 500px) {
      &::-webkit-scrollbar {
        width: 10px;
        visibility: hidden;
        transition: visibility 400ms;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: none;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    .notifications_list {
      margin-top: 1rem;

      list-style: none;
      .notification_item {
        display: flex;
        margin-top: 10px;
        border-radius: 9px;
        cursor: pointer;
        @media (min-width: 500px) {
          &:hover {
            background-color: #3a3b3c;
            transition: background-color 300ms;
          }
        }
        @media (max-width: 450px) {
          margin-top: 35px;
          &:first-child {
            margin-top: 10px;
          }
        }
        .sender_avatar {
          img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
          }
          @media (max-width: 450px) {
            img {
              height: 45px;
              width: 45px;
            }
          }
        }
        .notification_text {
          flex: 2;
          display: flex;
          align-items: center;
          margin-left: 1rem;
          font-size: 14px;
        }
        .new {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          color: red;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}
