.login_page,
.register_page {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.register-form-container,
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .link_text {
    margin-top: 1rem;
    font-size: 14px;
    color: white;
    span {
      color: $Primary-color;
    }
  }

  .login-form-heading-container,
  .register-form-heading-container {
    img {
      width: 50px;
      height: 37px;
      position: relative;
      transform: translateX(20%);
    }

    h2 {
      margin-top: 12px;
      color: white;
    }
  }

  #register-form,
  #login-form {
    width: 400px;

    @media (max-width: 450px) {
      width: 300px;
    }

    .form-block {
      margin-bottom: 10px;
    }

    .register-submit-btn,
    .login-submit-btn {
      text-align: center;
      margin-top: 2rem;
      button {
        padding: 8px 4rem;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 1px 1px 7px black;
        color: floralwhite;
        background-color: $Primary-color;
        border: none;
        font-size: 17px;
        outline: 0;
        &:hover {
          background-color: #1b95e0;
        }
        .MuiCircularProgress-root {
          height: 10px !important;
          width: 10px !important;
        }
        svg {
          transform: scale(2);
          color: white;
        }
      }
    }

    .MuiFormControl-root {
      min-width: 100%;
      .MuiInputLabel-root {
        color: white;
      }

      .MuiInputBase-root {
        color: white;

        // input:-internal-autofill-selected {
        //   background-color: #15202b !important ;
        // }
      }
      .MuiInput-underline:before {
        border-bottom: 1px solid gold;
      }
      .MuiInput-underline:after {
        border-bottom: 2px solid rgb(29, 161, 242);
      }
    }
  }
}
